body {
    background-color: #1E212E;
    font-family: 'Montserrat', sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 50px;
}

#pagelinks, #optionlinks {
    display: none;
}

#logo {
    margin-right: 10px;
}

main {
    width: 375px;
    height: 893px;
    background: #1B1D29;
}

#pageinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/elipse.png');
    padding: 20px;
    background-repeat: no-repeat;
}

#pageinfo .content p {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #CDCDCD;

}

#pageinfo img {
    width: 340px;
}

#hamburger {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

#hamburger-menu {
    position: absolute;
    top: 58px;
    left: 255px;
    background-color: #CDCDCD;
    padding: 5px 20px 5px 20px;
}

#hamburger-menu ul {
    padding: 0px;
    line-height: 24px;
}


#hamburger-menu li {
    list-style: none;
}

#hamburger-menu li a {
    list-style: none;
    text-decoration: none;
    color: #1B1D29;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.invisible {
    display: none;
}

.greenbuttoncontainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


.greenbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    height: 40.52054977416992px;
    width: 176px;
    border-radius: 5px;
    padding: 5px 17px 5px 17px;
    margin:auto;
    background: linear-gradient(90deg, #6AB972 0%, #569B51 100%), #6AB972;
}

.greenbuttonshadow {
    position: absolute;
    top: 6px;
    left: 70px;
    width: 176px;
    height: 40.52054977416992px;
    padding: 5px 17px 5px 17px;
    background: rgba(86, 155, 81, 0.62);
    filter: blur(10px);
    border-radius: 5px;
}
