body {
    background-color: #1E212E;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background: #14151F
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
    background-color: #1E212E;
}

#pagelinks a:hover {
    color: #6AB972;
}

#optionlinks a:hover {
    text-decoration: underline;
}

#pagelinks, #optionlinks {
    display: none;
    gap: 6px;
}

#selector {
    margin-bottom: 5px;
}

#logo {
    margin-right: 10px;
}

#entrar {
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, #6AB972 0%, #569B51 100%), #6AB972;
}

#registrarme {
    text-transform: uppercase;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    border: 1px #6AB972 solid;
}

main {
    height: 893px;
    background-image: url('../assets/elipse.png');
    background-repeat: no-repeat;
    background-position-y: 105px;
    background-position-x: -125px;
}

#pageinfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 55px 20px 20px 20px;
    gap: 60px;
}

#pageinfo div {
    flex-basis: 50%;
}

#pageinfo .content p {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #CDCDCD;

}

#pageinfo .image {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#hamburger {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

#hamburger-menu-container {
    position: relative;
}

#hamburger-menu {
    position: absolute;
    top: 26px;
    right: 0px;
    background-color: #CDCDCD;
    padding: 5px 15px 5px 15px;
}

#hamburger-menu ul {
    padding: 0px;
    line-height: 24px;
}


#hamburger-menu li {
    list-style: none;
}

#hamburger-menu li a {
    list-style: none;
    text-decoration: none;
    color: #1B1D29;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.invisible {
    display: none;
}

#bigcodeimg {
    display:none;
}

#codeimg {
    display: inline;
}

.greenbuttoncontainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}


.greenbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    height: 40.52054977416992px;
    width: 176px;
    border-radius: 5px;
    padding: 5px 17px 5px 17px;
    margin:auto;
    background: linear-gradient(90deg, #6AB972 0%, #569B51 100%), #6AB972;
}

.greenbuttonshadow {
    position: absolute;
    top: 6px;
    width: 176px;
    height: 40.52054977416992px;
    padding: 5px 17px 5px 17px;
    background: rgba(86, 155, 81, 0.62);
    filter: blur(10px);
    border-radius: 5px;
}

.stars {
    display: none;
}


@media (min-width: 950px) {

    .headersection {
        display: flex;
    }

    #logotext {
        display: none;
    }

    #pagelinks, #optionlinks {
        display: flex;
        align-items: center;
    }

    #pagelinks ul, #optionlinks ul {
        display: inline-flex;
        list-style: none;
        column-gap: 30px;
    }

    #pagelinks li a, #optionlinks li a {
        text-decoration: none;
        color: #FFFFFF;
    }

    #pageinfo {
        flex-direction: row;
        justify-content: center;
        padding: 100px 60px 60px 60px;
    }

    #hamburger {
        display: none;
    }

    .content h1, .content p {
        text-align: left !important;

    }

    .greenbuttoncontainer {
        justify-content: left;
    }

    #bigcodeimg {
        position:absolute;
        right: 0px;
        display:inline;
    }
    
    #codeimg {
        display: none;
    }

    main {
        background-size: 472px 469px;
        background-position-y: 46px;
        background-position-x: 711px;
    }

    .stars {
        display: inline;
    }

    #star1 {
        position: absolute;
        top: 136px;
        right: 345px;
    }

    #star2 {
        position: absolute;
        top: 162px;
        right: 500px;
    }

    #star3 {
        position: absolute;
        top: 121px;
        right: 448px;
    }

    #star4 {
        position: absolute;
        right: 446px;
        top: 210px;
    }

    #star5 {
        position: absolute;
        top: 136px;
        right: 390px;
    }


    #star6 {
        position: absolute;
        top: 610px;
        right: 116px;
    }

    #star7 {
        position: absolute;
        top: 543px;
        right: 115px;
    
    }

    #star8 {
        position: absolute;
        top: 565px;
        right: 169px;
    
    }

    #star9 {
        position: absolute;
        top: 548px;
        right: 0px;
    
    }

}