body {
    background-color: #1E212E;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 50px;
}

#pagelinks, #optionlinks {
    display: none;
}

#logo {
    margin-right: 10px;
}

main {
    width: 375px;
    height: 893px;
    background: #1B1D29;
}

#pageinfo {
    background-image: url('../assets/elipse.png');
    padding: 20px;
    background-repeat: no-repeat;
}

#pageinfo .content p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #CDCDCD;

}

#pageinfo img {
    width: 340px;
}

#hamburger {
    margin-right: 5px;
    width: 35px;
    height: 35px;
}

#hamburger-menu {
    position: absolute;
    top: 58px;
    left: 255px;
    background-color: #CDCDCD;
    padding: 5px 20px 5px 20px;
}

#hamburger-menu ul {
    padding: 0px;
    line-height: 24px;
}


#hamburger-menu li {
    list-style: none;
}

#hamburger-menu li a {
    list-style: none;
    text-decoration: none;
    color: #1B1D29;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;

}